apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/yordan-marinov/homelab.git
    targetRevision: HEAD
    path: apps/media/immich
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
