apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  source:
    chart: cert-manager
    repoURL: https://charts.jetstack.io
    targetRevision: v1.16.2
    helm:
      parameters:
        - name: installCRDs
          value: "true"
        - name: extraArgs[0]
          value: "--dns01-recursive-nameservers-only"
        - name: extraArgs[1]
          value: "--dns01-recursive-nameservers=1.1.1.1:53,8.8.8.8:53"
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
