apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets-configs
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/yordan-marinov/homelab.git
    targetRevision: HEAD
    path: apps/security/external-secrets
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
