apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: management
data:
  settings.yaml: |
    title: MvGates Cloud Console
    base_url: https://home.mvgates.com
  kubernetes.yaml: |
    mode: cluster
  widgets.yaml: |
    - kubernetes:
        cluster: homelab
        nodes: true
    - datetime:
        text_size: xl
        format:
          date: long
          time: short
  services.yaml: |
    - Infrastructure:
        - OPNsense:
            icon: opnsense.png
            href: https://192.168.102.1
            widget:
              type: opnsense
              url: https://192.168.102.1
              key: "{{HOMEPAGE_VAR_OPNSENSE_KEY}}"
              secret: "{{HOMEPAGE_VAR_OPNSENSE_SECRET}}"
    - Cluster:
        - ArgoCD:
            icon: argocd.png
            href: https://argocd.home.lab
            widget:
              type: argocd
              url: https://argocd.home.lab
              password: "{{HOMEPAGE_VAR_ARGO_PASSWORD}}"
        - Ceph:
            icon: ceph.png
            href: https://ceph.home.lab
            widget:
              type: rook
              url: http://rook-ceph-mgr-dashboard.rook-ceph.svc.cluster.local:8443
              password: "{{HOMEPAGE_VAR_CEPH_PASSWORD}}"
