apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argocd.home.lab`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80

